
<!DOCTYPE HTML>
<html>

<head>
<title>{% block head_title %}Tamil Matrimony Germany{% endblock head_title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Marital Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />

<link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!----font-Awesome----->
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
</head>
<body>
{% block header %}

{% endblock %}
<!-- ============================  Navigation Start =========================== -->
 <div class="navbar navbar-inverse-blue ">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
      <div class="navbar-inner navbar-inner_1">
        <div class="container">
           <div class="navigation">
             <nav id="colorNav">
			   <ul>
				<li class="green">
					<a href="#" class="icon-home"></a>
					{% if user.is_authenticated %}
                    <ul >
					    <li><a href="{% url 'profiles:create' %}">Create Profile</a></li>
					    <li><a href="{% url 'logout' %}">Logout</a></li>
		              </ul>

                    {% else %}
                      <ul >
		                <li><a href="{%  url 'login' %}">Login</a></li>
					    <li><a href="{% url 'register' %}">Register</a></li>
		              </ul>

                {% endif %}
				</li>
			   </ul>
             </nav>
           </div>
            <a class="brand" href="{% url 'profiles:list' %}"><img src="/static/images/logo.png" alt="logo"></a>
           <div class="pull-right">
          	<nav class="navbar nav_bottom" role="navigation">
 
		 <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header nav_2">
		      <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"></a>
		   </div> 
		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs" >
		        <ul class="nav navbar-nav nav_1">
		            <li><a href="{% url 'profiles:list' %}">Home</a></li>
		            <li><a href="#">About</a></li>
                    <li><a href="{% url 'profiles:allprofiles' %}">All Profiles</a></li>
                        <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="{% url 'profiles:myprofile' %}">View Profile</a></li>

		                <li><a href="{% url 'profiles:myedit' %}">Update Profile</a></li>

		              </ul>
		            </li>

					<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="{% url 'profiles:search1' %}">Advanced Search</a></li>

		                <li><a href="{% url 'profiles:search2' %}">Search By Profile ID</a></li>

		              </ul>
		            </li>
                {% if user.is_authenticated %}
                    <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{ user.username }}<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
					    <li><a href="{% url 'profiles:create' %}">Create Profile</a></li>
					    <li><a href="{% url 'logout' %}">Logout</a></li>
		              </ul>
		            </li>
                    {% else %}
                     <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome Guest<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="{%  url 'login' %}">Login</a></li>
					    <li><a href="{% url 'register' %}">Register</a></li>
		              </ul>
		            </li>

                {% endif %}


		        </ul>
		     </div><!-- /.navbar-collapse -->

		    </nav>
		   </div> <!-- end pull-right -->
          <div class="clearfix"> </div>
        </div> <!-- end container -->
      </div> <!-- end navbar-inner -->
    </div> <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->
{% block content %}
{% endblock content %}
{% block content1 %}
{% endblock content1 %}
{% block content2 %}
{% endblock content2 %}
{% block content3 %}
{% endblock content3 %}
{% block content4 %}
{% endblock content4 %}
<div class="footer">


<div class="container-fluid">
	<img src="/static/images/design.png" class="responsive" width="100%" height="auto">

    		<div class="copy">
		      <p>Copyright © 2016 Tamil Matrimony germany . All Rights Reserved  | Design by <a href="#">Nishant Tamilselvan</a> </p>
	        </div>
    	</div>
</div>
<!-- FlexSlider -->
<script defer src="/static/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />

<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>   
</body>

</html>