{% extends "base.html" %}

{% block head_title %}{{ title }} | {{ block.super }} {% endblock head_title %}
<div class="breadcrumb1">
     <ul>
        <a href="index-2.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">View Profile</li>
     </ul>
   </div>

{% block content %}
<div class="grid_3">
  <div class="container">
      {% include "messages.html" %}

<div class="profile">
   	 <div class="col-md-12 profile_left">
   	 	<h2>Profile Id : {{ detail_object.pId}}</h2>
   	 	<div class="col_3">
   	        <div class="col-sm-4 row_2">
				<div class="flexslider">
					 <ul class="slides">
						<li data-thumb="{{ detail_object.thumbnail.url }}">
							<img class="img-thumbnail"  src="{{ detail_object.thumbnail.url }}" />
						</li>
						<li data-thumb="{{ detail_object.thumbnail.url }}">
							<img  class="img-thumbnail" src="{{ detail_object.thumbnail.url }}" />
						</li>
						<li data-thumb="{{ detail_object.thumbnail.url }}">
							<img class="img-thumbnail"  src="{{ detail_object.thumbnail.url }}" />
						</li>
						<li data-thumb="{{ detail_object.thumbnail.url }}">
							<img  class="img-thumbnail" src="{{ detail_object.thumbnail.url }}" />
						</li>
					 </ul>
				  </div>
			</div>
			<!---728x90--->
			<div class="col-sm-8 row_1">
				<table class="table_working_hours">
		        	<tbody>
                        <tr class="opened">
							<td class="day_label">Name :</td>
							<td class="day_value">{{ detail_object.name }}</td>
						</tr>
		        		<tr class="opened_1">
							<td class="day_label">Age / Height :</td>
							<td class="day_value">{{ detail_object.age }}, {{ detail_object.height }}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Last Login :</td>
							<td class="day_value">{{ detail_object.updated | timesince }} ago</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Religion :</td>
							<td class="day_value">{{ detail_object.religion }}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Marital Status :</td>
							<td class="day_value">{{ detail_object.maritalStatus }}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Location :</td>
							<td class="day_value">{{ detail_object.current_location }}</td>
						</tr>
					    <tr class="closed">
							<td class="day_label">Profile Created by :</td>
							<td class="day_value closed"><span>{{ detail_object.matrimonyProfileFor }}</span></td>
						</tr>
					    <tr class="closed">
							<td class="day_label">Education :</td>
							<td class="day_value closed"><span>{{ detail_object.education }}</span></td>
						</tr>
				    </tbody>
				</table>
				<ul class="login_details">
			      <li>Already a member? <a href="#">Login Now</a></li>
			      <li>If not a member? <a href="#">Register Now</a></li>
			    </ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!---728x90--->

		<div class="col_4">
		    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			   <ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
				  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">About Myself</a></li>
				  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Family Details</a></li>
				  <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Partner Preference</a></li>
			   </ul>
			   <div id="myTabContent" class="tab-content">
				  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">

				    <div class="basic_1">
				    	<h3>Basics & Lifestyle</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened_1">
									<td class="day_label">Name :</td>
									<td class="day_value">{{ detail_object.name }}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Marital Status :</td>
									<td class="day_value">{{ detail_object.maritalStatus }}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Body Type :</td>
									<td class="day_value">{{ detail_object.body_Type }}</td>
								</tr>

							    <tr class="opened">
									<td class="day_label">Height :</td>
									<td class="day_value">{{ detail_object.height }}</td>
								</tr>

							    <tr class="opened">
									<td class="day_label">Profile Created by :</td>
									<td class="day_value closed"><span>{{ detail_object.matrimonyProfileFor }}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Drink :</td>
									<td class="day_value closed"><span>{{ detail_object.drink }}</span></td>
								</tr>
						    </tbody>
				          </table>
				         </div>
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened_1">
									<td class="day_label">Age :</td>
									<td class="day_value">{{ detail_object.age }} Yrs</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Mother Tongue :</td>
									<td class="day_value">{{ detail_object.motherTongue }}</td>
								</tr>

							    <tr class="opened">
									<td class="day_label">Weight :</td>
									<td class="day_value">{{ detail_object.weight }}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Blood Group :</td>
									<td class="day_value">{{ detail_object.blood_group }}</td>
								</tr>
							    <tr class="closed">
									<td class="day_label">Diet :</td>
									<td class="day_value closed"><span>{{ detail_object.diet }}</span></td>
								</tr>
							    <tr class="closed">
									<td class="day_label">Smoke :</td>
									<td class="day_value closed"><span>{{ detail_object.smoke }}</span></td>
								</tr>
						    </tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="basic_1">
				    	<h3>Religious / Social & Astro Background</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Time of Birth :</td>
									<td class="day_value">{{ detail_object.dateOfBirth.time | time }}</td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Caste :</td>
									<td class="day_value">{{ detail_object.caste }}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Date of Birth :</td>
									<td class="day_value closed"><span>{{ detail_object.dateOfBirth.date | date }}</span></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Place of Birth :</td>
									<td class="day_value closed"><span>{{ detail_object.placeOfBirth }}</span></td>
								</tr>
							 </tbody>
				          </table>
				         </div>
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened_1">
									<td class="day_label">Religion :</td>
									<td class="day_value">{{ detail_object.religion }}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Sub Caste :</td>
									<td class="day_value">{{ detail_object.sub_caste }}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Raasi :</td>
									<td class="day_value">{{ detail_object.rassi }}</td>
								</tr>
							</tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="basic_1 basic_2">
				    	<h3>Education & Career</h3>
				    	<div class="basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Education   :</td>
									<td class="day_value">{{ detail_object.education }}</td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Education Detail :</td>
									<td class="day_value">{{ detail_object.education_detail }}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Occupation Detail :</td>
									<td class="day_value closed"><span>{{ detail_object.occupation_detail }}</span></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Annual Income :</td>
									<td class="day_value closed"><span>{{ detail_object.annual_income }}</span></td>
								</tr>
							 </tbody>
				          </table>
				         </div>
				         <div class="clearfix"> </div>
				    </div>
				  </div>
				  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
				    <div class="basic_3">
				    	<h4>Family Details</h4>
				    	<div class="basic_1 basic_2">
				    	<h3>Basics</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Father's Occupation :</td>
									<td class="day_value">{{ detail_object.father_occupation }}</td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Mother's Occupation :</td>
									<td class="day_value">{{ detail_object.mother_occupation }}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">No. of Brothers :</td>
									<td class="day_value closed"><span>{{ detail_object.no_of_brother }}</span></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">No. of Sisters :</td>
									<td class="day_value closed"><span>{{ detail_object.no_of_sisters }}</span></td>
								</tr>
							 </tbody>
				          </table>
				         </div>
				       </div>
				    </div>
				 </div>
				 <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
				    <div class="basic_1 basic_2">
				       <div class="basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Age   :</td>
									<td class="day_value">{{ detail_object.p_age_min }} to {{ detail_object.p_age_max }}</td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Marital Status :</td>
									<td class="day_value">{{ detail_object.p_Marital_Status }}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Body Type :</td>
									<td class="day_value closed"><span>{{ detail_object.p_Body_Type }}</span></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Complexion :</td>
									<td class="day_value closed"><span>{{ detail_object.p_Complexion }}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Height :</td>
									<td class="day_value closed"><span>{{ detail_object.p_Height }}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Diet :</td>
									<td class="day_value closed"><span>{{ detail_object.p_Diet }}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Kujadosham / Manglik :</td>
									<td class="day_value closed"><span>{{ detail_object.p_Manglik }}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Religion :</td>
									<td class="day_value closed"><span>{{ detail_object.p_Religion }}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Caste :</td>
									<td class="day_value closed"><span>{{ detail_object.p_Caste }}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Mother Tongue :</td>
									<td class="day_value closed"><span>{{ detail_object.p_Mother_Tongue }}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Education :</td>
									<td class="day_value closed"><span>{{ detail_object.p_Education }}</span></td>
								</tr>

								<tr class="opened">
									<td class="day_label">Country of Residence :</td>
									<td class="day_value closed"><span>{{ detail_object.p_Country_Of_Residence }}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">State :</td>
									<td class="day_value closed"><span>{{ detail_object.p_State }}</span></td>
								</tr>

							 </tbody>
				          </table>
				        </div>
				     </div>
				 </div>
		     </div>
		  </div>
	   </div>
   	 </div>

       <div class="clearfix"> </div>
    </div>
  </div>
</div>
{% endblock content %}