



{% extends "base.html" %}
 {% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block head_title %}{{ title }} | {{ block.super }} {% endblock head_title %}


{% block content %}




    <div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index-2.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Register</li>
     </ul>
   </div>
{% include "messages.html" %}


   <div class="services">
   	  <div class="col-sm-6 login_left">


           <form action="" method="POST"  role="form">{% csrf_token %}
		<legend>User Registration</legend>


      {{ form|crispy }}




		<button style="float: right" type="submit" class="btn-lg btn-primary">Create the account</button>
	    </form>

</div>
	  </div>
	  <div class="col-sm-6">
	     <ul class="sharing">
			<li><a href="#" class="facebook" title="Facebook"><i class="fa fa-boxed fa-fw fa-facebook"></i> Share on Facebook</a></li>
		  	<li><a href="#" class="twitter" title="Twitter"><i class="fa fa-boxed fa-fw fa-twitter"></i> Tweet</a></li>
		  	<li><a href="#" class="google" title="Google"><i class="fa fa-boxed fa-fw fa-google-plus"></i> Share on Google+</a></li>
		  	<li><a href="#" class="linkedin" title="Linkedin"><i class="fa fa-boxed fa-fw fa-linkedin"></i> Share on LinkedIn</a></li>
		  	<li><a href="#" class="mail" title="Email"><i class="fa fa-boxed fa-fw fa-envelope-o"></i> E-mail</a></li>
		 </ul>
	  </div>
	  <div class="clearfix"> </div>
   </div>

  </div>
</div>







{% endblock content %}

